body {
  position: relative;
  min-width: 320px;
  min-height: 320px;
  border-radius: 10px;
  margin: 0px;
  padding: 8px;
  text-size-adjust: 100%;
  font-family: "Open Sans", "Helvetica Neue", "--apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(245, 197, 197);
  display: block;
  text-align: center;
}

.flex {
  display: flex;
}

.item {
  left: 5%;
  position: absolute;
  background-color: rgb(255, 228, 228);
  width: 300px;
}

#desc {
  top: 18%;
  padding: 8px 0;
}

#timer-container {
  top: 35%;
  height: 200px;
}

#timer {
  top: 10%;
  left: 15%;
  position: absolute;
  width: 200px;
  font-size: 4rem;
}

.brown-color {
  color: brown;
}

.bold {
  font-weight: 700;
}

.border-radius-8px {
  border-radius: 8px;
}

#action {
  position: absolute;
  top: 60%;
  left: 25%;
  width: 150px;
  background-color: white;
  border: none;
  padding: 13px;
  font-size: 1.5rem;
}