body {
  margin: 0;
  font-size: 18px;
  position: relative;
  min-width: 320px;
  min-height: 320px;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Open Sans", "Helvetica Neue", "--apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color: rgb(72, 94, 117);
  background-color: rgb(235, 198, 198);
  display: block;
  margin: 8px;
}
#timer{
  top: 40%;
  left: 40%;
  position: absolute;
  color: brown;
}

#action {
  top: 50%;
  left: 40%;
  position: absolute;
}

/* * {
  box-sizing: border-box;
}

.popup {
  position: relative;
  text-align: center;
  width: 100%;
} */

.parent.grid {
  display: grid;
  place-content: center;  /* shorthand for justify-content and align-content */
}
.parent {
  width: 100vw;
  height: 50vh;
}